.scene {
    width: 250px;
    height: 250px;
    perspective: 600px;
    margin: auto;
  }

.Tile {
    width: 250px;
    height: 250px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 20px;
    display:table;
    perspective: 600px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: powderblue;

}

.Tile.is-flipped {
    transform: rotateY(180deg);
  }

.TileFront {
    background-color: powderblue;
}

.TileBack {
    transform: rotateY(180deg);
    background-color: powderblue;
}

.TileFace {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.label {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 10%;
    display: table-cell;
    backface-visibility: hidden;
}

.tile-button {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    margin: 5px 5px 0 0;
    float: right;
}

textarea {
    font-family: inherit;
    font-size: 30px;
    font-weight: 20px;
 }

.text-area {
    width: 90%;
    height: 80%;
    max-height: 80%;
    margin-top: 50px;
    box-sizing: border-box;
    resize: vertical; 
    background-color: powderblue;
    position: absolute;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    resize: none;
    white-space: no-wrap;
    border: none;
    overflow: hidden;
    margin: 50 25 25 25;
}
